<a href="https://colab.research.google.com/github/SmitaPanigrahi/SmitaPanigrahi/blob/main/Copy_of_Hotel_Booking_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np

In [4]:
hotel_df = pd.read_csv('/content/drive/MyDrive/Copy of Hotel Bookings.csv')
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [5]:
hotel_df.head()

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02
3  Resort Hotel            0  ...           Check-Out               2015-07-02
4  Resort Hotel            0  ...           Check-Out               2015-07-03

[5 rows x 32 columns]

In [6]:
hotel_df.tail(25)

             hotel  is_canceled  ...  reservation_status  reservation_status_date
119365  City Hotel            0  ...           Check-Out               2017-09-04
119366  City Hotel            0  ...           Check-Out               2017-09-04
119367  City Hotel            0  ...           Check-Out               2017-09-04
119368  City Hotel            0  ...           Check-Out               2017-09-04
119369  City Hotel            0  ...           Check-Out               2017-09-04
119370  City Hotel            0  ...           Check-Out               2017-09-04
119371  City Hotel            0  ...           Check-Out               2017-09-04
119372  City Hotel            0  ...           Check-Out               2017-09-04
119373  City Hotel            0  ...           Check-Out               2017-09-04
119374  City Hotel            0  ...           Check-Out               2017-09-04
119375  City Hotel            0  ...           Check-Out               2017-09-04
119376  City Hotel            0  ...           Check-Out               2017-09-04
119377  City Hotel            0  ...           Check-Out               2017-09-04
119378  City Hotel            0  ...           Check-Out               2017-09-04
119379  City Hotel            0  ...           Check-Out               2017-09-04
119380  City Hotel            0  ...           Check-Out               2017-09-04
119381  City Hotel            0  ...           Check-Out               2017-09-05
119382  City Hotel            0  ...           Check-Out               2017-09-05
119383  City Hotel            0  ...           Check-Out               2017-09-06
119384  City Hotel            0  ...           Check-Out               2017-09-06
119385  City Hotel            0  ...           Check-Out               2017-09-06
119386  City Hotel            0  ...           Check-Out               2017-09-07
119387  City Hotel            0  ...           Check-Out               2017-09-07
119388  City Hotel            0  ...           Check-Out               2017-09-07
119389  City Hotel            0  ...           Check-Out               2017-09-07

[25 rows x 32 columns]

In [12]:
hotel_df['lead_time'].value_counts()

0      6345
1      3460
2      2069
3      1816
4      1715
       ...
458       1
371       1
737       1
435       1
387       1
Name: lead_time, Length: 479, dtype: int64

In [15]:
hotel_df.arrival_date_month.unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [17]:
hotel_df.arrival_date_week_number.unique()

array([27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53,  1,  2,  3,  4,  5,  6,  7,
        8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
       25, 26])